.contenedorDeRegiones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80vw;
}

.btnAgregarRegion {
    align-self: flex-start;
}

.region-itemsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.region-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 250px;
    gap: 10px;
}

.nombreRegion {
    display: flex;
    align-items: center;
    margin: 0;
}

.region-botonesContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}