.elementos-contenedorPrincipal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80vw;
}

.btnAgregarElemento {
    align-self: flex-start;
    margin-bottom: 20px;
}

.elementos-contenedorDeItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    width: 100%;
}

.elementoItem {
    display: flex;
    gap: 15px;
    flex-basis: 350px;
}

.nombreElemento {
    font-size: 1.2rem;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    align-items: center;
}