.contenedorRarezaElementoRegion {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.formularioCrearPersonaje {
    position: relative;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoBasica {
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
}

.datosBasicos {
    flex-basis: 400px;
}

.imagenesBasicas {
    flex-basis: 400px;
}

.contenedorRarezaElementoRegion-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelSplashArt,
.labelTarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorTarjeta,
.contenedorSplashArt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorAvatar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedorAvatar-labelYcontrol {
    flex-grow: 2;
}