.formularioEditarpersonaje {
    position: relative;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.infoBasica {
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
}

.datosBasicos {
    flex-basis: 400px;
}

.imagenesBasicas {
    flex-basis: 400px;
}

.contenedorRarezaElementoRegion {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedorRarezaElementoRegion-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelSplashArt,
.labelTarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorTarjeta,
.contenedorSplashArt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-basis: 200px;
}

.contenedorAvatar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedorAvatar-labelYcontrol {
    flex-grow: 2;
}

.editarPersonaje-imagenesPersonajeSection {
    max-height: 750px;
    overflow-y: scroll;
    width: 80vw;
    margin-bottom: 40px;
}

.editarPersonaje-videosPersonajeSection {
    max-height: 750px;
    overflow-y: scroll;
    width: 80vw;
    margin-bottom: 40px;

}

.editarPersonaje-animacionesPersonajeSection {
    max-height: 750px;
    overflow-y: scroll;
    width: 80vw;
    margin-bottom: 40px;
}

.btn-guardarFlotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;

}

.btn-guardarFlotante img {
    width: 70px;
    height: 70px;
}

.editarPersonaje-imagenesPersonajeSection,
.editarPersonaje-videosPersonajeSection,
.editarPersonaje-animacionesPersonajeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.editarPersonaje-imagenesPersonajeSection h3,
.editarPersonaje-videosPersonajeSection h3,
.editarPersonaje-animacionesPersonajeSection h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}