.formulario {
    position: relative;
}

.contenedorRarezaElementoRegion {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedorRarezaElementoRegion-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelSplashArt,
.labelTarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorTarjeta,
.contenedorSplashArt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contenedorAvatar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedorAvatar-labelYcontrol {
    flex-grow: 2;
}

.imagenesPersonajeSection {
    max-height: 750px;
    overflow-y: scroll;
}

.btn-guardarFlotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;

}

.btn-guardarFlotante img {
    width: 70px;
    height: 70px;
}